<%- include('./includes/head.ejs') %> 
<style>
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=Prompt:wght@100&display=swap');
  .newfont {
      font-family: 'Kanit', sans-serif;
  }
</style>
  <!-- / menu -->
  <!-- Start slider -->
  <section id="aa-slider">
    <div class="aa-slider-area">
      <div id="sequence" class="seq">
        <div class="seq-screen">
          <ul class="seq-canvas">
            <!-- single slide item -->
            <li>
              <div class="seq-model">
                <img data-seq src="img/slider/1.jpg" alt="Men slide img" />
              </div>
              <div class="seq-title">
               <!-- <span data-seq>Save Up to 10% Off</span>                
                <h2 data-seq>Canon Collection</h2>                 -->
                <!-- <a data-seq href="#" class="aa-shop-now-btn aa-secondary-btn">SHOP NOW</a> -->
              </div>
            </li>
            <!-- single slide item -->
            <li>
              <div class="seq-model">
                <img data-seq src="img/slider/2.jpg" alt="Wristwatch slide img" />
              </div>
              <div class="seq-title">
                <!-- <span data-seq>Save Up to 40% Off</span>                
                <h2 data-seq>Wristwatch Collection</h2>                
                <p data-seq>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, illum.</p>
                <a data-seq href="#" class="aa-shop-now-btn aa-secondary-btn">SHOP NOW</a> -->
              </div>
            </li>
            <!-- single slide item -->
            <li>
              <div class="seq-model">
                <img data-seq src="img/slider/3.jpg" alt="Women Jeans slide img" />
              </div>
              <div class="seq-title">
                <!-- <span data-seq>Save Up to 75% Off</span>                 -->
                <!-- <h2 data-seq>Jeans Collection</h2>                
                <p data-seq>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, illum.</p>
                <a data-seq href="#" class="aa-shop-now-btn aa-secondary-btn">SHOP NOW</a> -->
              </div>
            </li>
            <!-- single slide item -->           
            <li>
              <div class="seq-model">
                <img data-seq src="img/slider/4.jpg" alt="Shoes slide img" />
              </div>
              <div class="seq-title">
                <!-- <span data-seq>Save Up to 75% Off</span>                
                <h2 data-seq>Exclusive Shoes</h2>                
                <p data-seq>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, illum.</p>
                <a data-seq href="#" class="aa-shop-now-btn aa-secondary-btn">SHOP NOW</a> -->
              </div>
            </li>
            <!-- single slide item -->  
             <li>
              <div class="seq-model">
                <img data-seq src="img/slider/5.jpg" alt="Male Female slide img" />
              </div>
            </li>                   
          </ul>
        </div>
        <!-- slider navigation btn -->
        <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
          <a type="button" class="seq-prev" aria-label="Previous"><span class="fa fa-angle-left"></span></a>
          <a type="button" class="seq-next" aria-label="Next"><span class="fa fa-angle-right"></span></a>
        </fieldset>
      </div>
    </div>
  </section>
  <!-- / slider -->

  <!-- Support section -->
  <section id="aa-support">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-support-area">
            <!-- single support -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="aa-support-single">
                <span class="fa fa-truck"></span>
                <h4 class="newfont">FREE SHIPPING</h4>
                <P class="newfont">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nobis.</P>
              </div>
            </div>
            <!-- single support -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="aa-support-single">
                <span class="fa fa-clock-o"></span>
                <h4 class="newfont">30 DAYS MONEY BACK</h4>
                <P class="newfont">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nobis.</P>
              </div>
            </div>
            <!-- single support -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="aa-support-single">
                <span class="fa fa-phone"></span>
                <h4 class="newfont">SUPPORT 24/7</h4>
                <P class="newfont">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nobis.</P>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Support section -->

  <!-- Latest Blog -->
  <section id="aa-latest-blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-latest-blog-area">
            <h2>LATEST BLOG</h2>
            <div class="row">
              <!-- single latest blog -->
              <div class="col-md-4 col-sm-4">
                <div class="aa-latest-blog-single">
                  <figure class="aa-blog-img">                    
                    <a href="#"><img src="img/promo-banner-1.jpg" alt="img"></a>  
                      <figcaption class="aa-blog-img-caption">
                      <span href="#"><i class="fa fa-eye "></i>5K</span>
                      <a href="#"><i class="fa fa-thumbs-o-up "></i>426</a>
                      <a href="#"><i class="fa fa-comment-o "></i>20</a>
                      <span href="#"><i class="fa fa-clock-o "></i>March 31, 2021</span>
                    </figcaption>                          
                  </figure>
                  <div class="aa-blog-info">
                    <h3 class="aa-blog-title newfont"><a href="#">เปิดราคาอย่างเป็นทางการ!! กล้อง Cinema ใหม่ล่าสุด Panasonic Lumix BGH1 ราคา 66,990.-</a></h3>
                    <p class="newfont">เปิดราคาอย่างเป็นทางการ!! กล้อง Cinema ใหม่ล่าสุด Panasonic Lumix BGH1 ราคา 66,990.- กล้องวิดีโอสุดเทพ คุณภาพระดับ Professional มากับเซ็นเซอร์ Live MOS 10.2 ล้านพิกเซล และมีโหมดการบันทึกหลากลายไม่ว่าจะเป็น C4K/4K 60p/50p 4:2:0 10-bit และ C4K/4K 30p/25p/24p 4:2:2 10-bit ALL-Intra 400Mbps แถมยังรองรับการบันทึกแบบจอกว้าง 4K ในอัตราส่วนภาพ 4:3 ให้คุณถ่ายงานได้อย่างมืออาชีพมากยิ่งขึ้น!</p> 
                    <a href="#" class="aa-read-mor-btn newfont">Read more <span class="fa fa-long-arrow-right"></span></a>
                  </div>
                </div>
              </div>
              <!-- single latest blog -->
              <div class="col-md-4 col-sm-4">
                <div class="aa-latest-blog-single">
                  <figure class="aa-blog-img">                    
                    <a href="#"><img src="img/promo-banner-2.jpg" alt="img"></a>  
                      <figcaption class="aa-blog-img-caption">
                      <span href="#"><i class="fa fa-eye "></i>5K</span>
                      <a href="#"><i class="fa fa-thumbs-o-up "></i>426</a>
                      <a href="#"><i class="fa fa-comment-o "></i>20</a>
                      <span href="#"><i class="fa fa-clock-o "></i>March 23, 2021</span>
                    </figcaption>                          
                  </figure>
                  <div class="aa-blog-info">
                    <h3 class="aa-blog-title newfont"><a href="#">มาถึงแล้ว! กล้องส่องทางไกลดิจิทัล Canon PowerShot Zoom พร้อมความสามารถถ่ายภาพและวิดีโอ</a></h3>
                    <p class="newfont">มาถึงแล้ว! กล้องส่องทางไกลดิจิทัล Canon PowerShot Zoom พร้อมความสามารถถ่ายภาพและวิดีโอในระยะไกลซูมได้สูงสุดถึง 800mm ด้วยขนาดที่เล็กเท่าฝ่ามือ พกพาใส่กระเป๋าง่าย แถมยังใช้งานและแชร์โมเมนท์ได้ง่าย ๆ ผ่านแอปพลิเคชั่น Canon Camera Connect</p> 
                     <a href="#" class="aa-read-mor-btn newfont">Read more <span class="fa fa-long-arrow-right"></span></a>         
                  </div>
                </div>
              </div>
              <!-- single latest blog -->
              <div class="col-md-4 col-sm-4">
                <div class="aa-latest-blog-single">
                  <figure class="aa-blog-img">                    
                    <a href="#"><img src="img/promo-banner-3.jpg" alt="img"></a>  
                      <figcaption class="aa-blog-img-caption">
                      <span href="#"><i class="fa fa-eye "></i>5K</span>
                      <a href="#"><i class="fa fa-thumbs-o-up "></i>426</a>
                      <a href="#"><i class="fa fa-comment-o "></i>20</a>
                      <span href="#"><i class="fa fa-clock-o "></i>February 25, 2021 </span>
                    </figcaption>                          
                  </figure>
                  <div class="aa-blog-info">
                    <h3 class="aa-blog-title newfont"><a href="#">มาถึงแล้ว!! เลนส์ซูมตัวใหม่ล่าสุด Panasonic Lumix S 70-300mm F/4.5-5.6 Macro O.I.S</a></h3>
                    <p class="newfont">มาถึงแล้ว!! เลนส์ซูมตัวใหม่ล่าสุด Panasonic Lumix S 70-300mm F/4.5-5.6 Macro O.I.S ออกแบบมาสำหรับกล้อง Mirrorless FullFrame L-mount โครงสร้างชิ้นเลนส์ 17 ชิ้น จัดกลุ่มเป็น 11 กลุ่มเลนส์ ขับเคลื่อนชิ้นเลนส์ด้วย Linear มอเตอร์ ระยะโฟกัสใกล้สุด 0.54m ที่ระยะ 70mm อัตราขยายสูงสุด 0.5x ที่ 300mm มีระบบกันสั่น ป้องกันได้สูงสุด 5.5 สต๊อป เมื่อใช้งานร่วมกับระบบกันสั่น Dual IS บนตัวกล้อง นอกจากนี้ตัวเลนส์ยังมีซีลป้องกันละอองน้ำ ละอองฝุ่น ทนอุณหภูมิถึง -10 องศา
                    </p> 
                    <a href="#" class="aa-read-mor-btn newfont">Read more <span class="fa fa-long-arrow-right"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>    
      </div>
    </div>
  </section>
  <!-- / Latest Blog -->

  <!-- Client Brand -->
  <section id="aa-client-brand">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-client-brand-area">
            <ul class="aa-client-brand-slider">
              <li><a href="#"><img src="img/client-brand-java.png" alt="java img"></a></li>
              <li><a href="#"><img src="img/client-brand-jquery.png" alt="jquery img"></a></li>
              <li><a href="#"><img src="img/client-brand-html5.png" alt="html5 img"></a></li>
              <li><a href="#"><img src="img/client-brand-css3.png" alt="css3 img"></a></li>
              <li><a href="#"><img src="img/client-brand-wordpress.png" alt="wordPress img"></a></li>
              <li><a href="#"><img src="img/client-brand-joomla.png" alt="joomla img"></a></li>
              <li><a href="#"><img src="img/client-brand-java.png" alt="java img"></a></li>
              <li><a href="#"><img src="img/client-brand-jquery.png" alt="jquery img"></a></li>
              <li><a href="#"><img src="img/client-brand-html5.png" alt="html5 img"></a></li>
              <li><a href="#"><img src="img/client-brand-css3.png" alt="css3 img"></a></li>
              <li><a href="#"><img src="img/client-brand-wordpress.png" alt="wordPress img"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Client Brand -->

  <!-- Subscribe section -->
  <section id="aa-subscribe">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-subscribe-area">
            <h3 class="newfont">Subscribe our newsletter </h3>
            <p class="newfont" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, velit!</p>
            <form action="" class="aa-subscribe-form">
              <input type="email" name="" id="" placeholder="Enter your Email">
              <input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Subscribe section -->
<%- include('./includes/end.ejs') %>